/*------------------------------------
    Authentication
------------------------------------*/
.auth-page-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    height: 100vh;
}

.auth-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .auth-form {
        width: 480px;
        background-color: #fff;
        padding: 20px 15px;
        margin-bottom: 60px;

        .site-logo {
            text-align: center;
            margin-bottom: 15px;

            a {
                display: block;

                img {
                    max-width: 100%;
                }
            }
        }

        .auth-form-title {
            font-size: 20px;
            font-weight: bold;
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
            margin-bottom: 25px;
        }
    }
}

.form-element-row {
    margin-bottom: 15px;

    .label-element {
        display: block;
    }

    .input-element {
        width: 100%;
        border: 1px solid #eee;
        border-radius: 7px;
        line-height: 20px;
        padding: 15px;

        &:focus {
            outline: none;
        }
    }

    .btn-element {
        text-align: center;
        height: 45px;
        border-radius: 10px;
        padding: 0 15px;

        i {
            margin-left: 10px;
        }

        &.btn-success-element {
            background-color: #0ba360;
            color: #fff;
        }

        &.btn-info-element {
            background-color: #007bff;
            color: #fff;
        }

        &.btn-warning-element {
            background-color: #ffc107;
            color: #000;
        }

        &.btn-danger-element {
            background-color: #f44336;
            color: #fff;
        }
    }

    .form-element-with-icon {
        position: relative;

        i {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
        }
    }

    .container-checkbox {
        font-size: 14px;
    }
}

/* The container */
.container-checkbox {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 23px;
    width: 23px;
    background-color: #eee;
    border-radius: 7px;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


/* The container */
.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.container-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}